.acpWrapper {
  display: flex;
}

.imageList {
  flex: 2;
}

.content {
  flex: 1;
}
.swiper-container {
  width: 700px;
}

.swiper-pagination {
  bottom: 0;
  padding-bottom: 10px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}
